env
env/Lib/site-packages/
*.pyc
*.sqlite3
src/.coverage
src/*.xml
src/*egg-info
target
reports
__pycache__/
*.py[cod]
db.sqlite3
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg